# Proxy inverso para desarrollo local
# Accesible desde:
# - Emulador Android: http://10.0.2.2/
# - Terminal físico: http://localhost/ o http://amani.local/
# - Red local: http://[IP-MAQUINA]/

:80 {
    reverse_proxy localhost:8080
}
